astroid==2.6.2
beautifulsoup4==4.9.3
bs4==0.0.1
cairocffi==0.8.0
certifi==2022.12.7
cffi==1.14.5
chardet==3.0.4
cheroot==8.5.2
CherryPy==18.6.0
cssutils==2.2.0
docutils==0.17
ebookmaker==0.10.5
flake8==3.9.2
gitdb==0.6.4
GitPython==2.0.8
idna==2.7
isort==5.9.1
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
libgutenberg==0.6.8
lxml==4.9.1
MarkupSafe==0.23
mccabe==0.6.1
more-itertools==8.7.0
oauthlib==1.1.2
Pillow==9.3.0
portend==2.7.1
py-trello==0.8.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pylint==2.9.3
python-dateutil==2.5.3
pytz==2016.7
requests==2.25.1
requests-oauthlib==0.6.2
roman==3.3
six==1.15.0
smmap==0.9.0
soupsieve==2.2.1
tempora==4.0.2
toml==0.10.2
urllib3==1.26.5
wrapt==1.12.1
zc.lockfile==2.0
