cairocffi==0.8.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cheroot==8.5.2
CherryPy==18.6.0
cssutils==2.2.0
docutils==0.17
ebookmaker==0.10.5
gitdb==0.6.4
GitPython==2.0.8
idna==2.7
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==2.11.3
libgutenberg==0.6.8
lxml==4.6.3
MarkupSafe==0.23
more-itertools==8.7.0
oauthlib==1.1.2
Pillow==8.2.0
portend==2.7.1
py-trello==0.8.0
pycparser==2.20
python-dateutil==2.5.3
pytz==2016.7
requests==2.20.0
requests-oauthlib==0.6.2
roman==3.3
six==1.15.0
smmap==0.9.0
tempora==4.0.2
urllib3==1.24.3
zc.lockfile==2.0
