## {{title}} - {{project_id}} ##

This is a [Distributed Proofreaders](http://www.pgdp.net/) post-processing project.

“{{title}}” by {{author}}

* [DP project page](http://www.pgdp.net/c/project.php?id=projectID{{project_id}})
* [Forum thread]({{forum_link}})
* [Good words](good_words.txt)
* [Bad words](bad_words.txt)
* [Project Gutenberg listing]() (not posted yet)

Further project notes can be found in [the checklist](checklist.org).

